.navbar {
    padding: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 1em;
    }

    .actions {
        gap: 1rem;
        display: flex;
        align-items: center;
    }
}
