.navbar {
    display: flex;
    padding: 60px 80px;
    align-items: center;
    scroll-snap-align: start;
    justify-content: space-between;

    img {
        height: 25px;
    }

    .actions {
        gap: 2rem;
        display: flex;
        font-size: 18px;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 40px 20px;
    }
}