.navbar {
    padding:  60px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 25px;
    }

    .actions {
        gap: 1.2rem;
        font-size: 18px;
        display: flex;
        align-items: center;
    }
}
