.markdown h1 {
    margin-top: 2em;
}

.markdown h2 {
    margin-top: 2em;
}

.markdown h6 {
    text-align: center;
    font-weight: 400;
    font-size: 0.75em;
}

.markdown img,
.markdown video {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 6px;
}
