h6 {
    text-align: center;
    font-weight: 400;
    font-size: 0.75em;
}

img {
    margin: auto;
    display: block;
    border-radius: 6px;
}

video {
    margin: auto;
    display: block;
    max-width: 100%;
    border-radius: 6px;
}
