@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
@import "form-reset-helpers";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    box-sizing: border-box;
}

svg {
	shape-rendering: geometricPrecision;
}

html, body {
    margin: 0;
    background-color: #ff4754;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    margin: 0 auto;
}

header {
    max-width: 1260px;
    margin: 0 auto;
    padding: 100px 2rem 150px 2rem;
    
    img {
        height: 30px;
    }

    .tagline {
        max-width: 540px;
        font-size: 40px;
        font-weight: bold;
    }

    .description {
        font-size: 22px;
        margin-bottom: 100px;
    }
}

@media (max-width: 1240px) {
    header {
        padding-top: 20px;
    }
}

section {
    display: flex;
    width: 100%;
    justify-content: center;

    background: rgb(28, 28, 28);
    padding: 24px 0;

    &:nth-child(even) {
        background: black;
    }

    > div {
        display: grid;
        row-gap: 1rem;
        column-gap: 1rem;

        width: 100%;
        max-width: 1260px;
        padding: 2rem;

        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

        @media only screen and (max-width: 919px) {
            > div {
                grid-row: 2;
            }
        }

        @media only screen and (min-width: 920px) {
            &[data-reverse="true"] {
                > img {
                    grid-row: 1;
                    grid-column: 1;
                }

                > div {
                    grid-row: 1;
                    grid-column: 2;
                }
            }
        }

        > * {
            width: 100%;
        }
    }
}

button {
    flex: 0 1;
    border-radius: 10px;
    padding: 10px;
    background: rgba(16, 24, 35, 1);
    white-space: nowrap;
    font-weight: 600;
    cursor: pointer;
    color: rgba(255,255,255,0.9);
    transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.2s cubic-bezier(0.4, 0.0, 0.2, 1), background 0.2s cubic-bezier(0.4, 0.0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

button:hover {
    background: rgba(16, 24, 35, 0.8);
    transform: translateY(-3px);
    box-shadow: 0 3px 0px 0px #0A0E15;
}

button:active {
    box-shadow: none;
    background: #0A0E15;
    transform: translateY(0px);
    color: rgba(255,255,255,0.7);
}
