@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility !important;
    box-sizing: border-box;
}

svg {
	shape-rendering: geometricPrecision;
}

html, body {
    margin: 0;
    background-color: #ff4754;
    font-family: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
