---

---

<div class="technical-content-note">
    <h3>Nerd stuff ahead!</h3>
    <p>
        This article is aimed at developers building bots and apps with the
        <a href="https://developers.revolt.chat/">Revolt API</a>. It may contain
        technical jargon.
    </p>
</div>

<style lang="scss">
    .technical-content-note {
        h3 {
            font-size: 1rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
            line-height: 1.2;
        }

        p {
            font-size: 1rem;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0.4rem;
            opacity: 0.7;
        }

        a:link,
        a:visited {
            color: var(--colour-ultra-pink);
            text-decoration: underline;
            text-underline-offset: 0.2rem;
            text-decoration-color: transparentize(#ff005c, 0.5);

            &:hover {
                color: var(--colour-ultra-pink-light);
            }
        }
    }
</style>
