@import 'elements.scss';

* {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
}

svg {
	shape-rendering: geometricPrecision;
}

html, body {
    margin: 0;
    color: white;
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --background: #101823;
    --accent: #ff4654;
}
