* {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
}

svg {
	shape-rendering: geometricPrecision;
}

html, body {
    margin: 0;
    color: white;
    background-color: #101823;
    font-family: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
