.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.overview {
    flex-grow: 1;
    display: flex;
    
    .left {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        .tagline {
            margin-top: -80px;
        }

        p, h1 {
            margin: 0;
        }

        h1 {
            margin: 8px 0 40px;
            font-size: 64px;
            line-height: 70px;
            color: var(--accent);
            font-weight: 600;
            -webkit-text-stroke: 1.2px var(--accent);
        }

        p {
            font-size: 24px;
        }

        div {
            margin-top: 1rem;
        }
    }

    .graphic {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
            width: 100%;
        }
    }
}

.section {
    gap: 4rem;
    margin: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 4rem 4rem 8rem;
    scroll-snap-align: center;
    max-width: var(--max-width);
    
    .image, .content {
        flex: 1;
    }

    .image img {
        max-width: 100%;
        height: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p, h1 {
            margin: 0;
        }

        h1 {
            font-size: 40px;
            margin-bottom: 20px;
            line-height: 45px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            max-width: 400px;
        }
    }

    &[data-reverse="true"] {
        .content {
            align-items: flex-end;
        }
    }
}

@media only screen and (max-width: 1280px) {
    .section {
        gap: 2em; 
        padding: 0 20px;
    }

    .content {
        margin-bottom: 50px;
    }

    .overview {
        .left {
            p {
                font-size: 16px;
            }

            h1 {
                font-size: 36px;
                line-height: 40px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .overview {
        padding: 0 20px;
        margin-bottom: 100px;
        flex-direction: column;

        .graphic {
            display: none;
        }

        .left {
            flex: 1;
            
            .tagline {
                margin: 0;
            }
        }
    }

    .section {
        margin-bottom: 4rem;
        flex-direction: column-reverse;

        .content {
            align-items: center !important;
        }
    }

    .section[data-reverse="true"] {
        flex-direction: column;
    }
}

.link {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-top: 20px;
    
    svg {
        margin-right: 10px;
    }
}

.feedback {
    z-index: 50;
    position: absolute;
    display: flex;
    align-items: center;
    right: 40px;
    bottom: 40px;
    padding: 16px 18px;
    background: white;
    color: black;
    font-weight: 600;
    border-radius: 60px;
    transition: background-color ease-in-out .07s;

    svg {
        margin-right: 12px;
    }

    &:hover {
        text-decoration: none;
        background-color: #EFEFEF;
    }

    &:active {background-color: #D9D9D9;}
}

@media only screen and (max-width: 768px) {
    .feedback {
        right: 20px;
    }
}
